/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    background-color: #111111;
}

#main-img-wrapper {
    padding: 100px;
    text-align: center;
}

#intro-main{
    margin: 5px auto 140px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
    font-weight: 500;
    gap: 20px;
}

#intro-main p{
    text-align: center;
}

#join-us-text {
    margin-top: 73px;
    opacity: 0.6;
    font-weight: 400;
    font-size: 16px;
}

@keyframes UpandDown {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0);
    }
}

#down-arrow-icon {
    width: 33px;
    animation: UpandDown 1s infinite;
}

.list-item {
    display: inline;
    font-size: 48px;
    font-weight: 600;
}

#list-item-wrapper {
    width: 383px;
    margin: 0 auto 500px;
}

.list-item::before{
    display: inline-block;
    background-image: url(./imgs/house-back.png);
    background-size: 51px 53px;
    content: "";
    width: 51px;
    height: 53px;
}

.list-item#on{
    color: white;
}

.list-item#on::before {
    background-image: url('./imgs/house.png');
}

#panel1-img{
    overflow: hidden;
    margin-bottom: 200px;
    position: relative;
    height: 280px;
}

#flying-santa-img{
    position: absolute;
    right: -80px;
    height: 330px;
    transform: translate(80px, -13px) rotate(23deg);
}